html
{
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
    line-height: 1.667;
    color: #333;
}

body
{
    background-image: url('aurora.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

*
{
    box-sizing: border-box;
}

p
{
    margin: 0 0 1.5em;
}

h1, h2, h3
{
    margin: 1.5em 0 0.25em;
    font-weight: 300;
    line-height: 1.2;
}

h1
{
    font-size: 2.4rem;
}

@media (max-width: 36rem)
{
    h1
    {
        font-size: 2.1rem;
    }
}

h2, h3
{
    font-size: 1.8rem;
}

@media (max-width: 36rem)
{
    h2, h3
    {
        font-size: 1.5rem;
    }
}

main
{
    width: 72rem;
    max-width: 92vw;
    margin: 2rem auto;
    background-color: rgba(255,255,255,0.667);
    backdrop-filter: saturate(2) brightness(0.7) blur(10px);
    border-radius: .25rem;
    border: .0625rem solid rgba(0,0,0,0.667);
    box-shadow: 0 0 2rem -0.5rem rgba(0,0,0,.667);

    
    padding: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-areas:
        "a a"
        "b c";
    grid-template-columns: 3fr 1fr;
}

@media (max-width: 72rem)
{
    main
    {
        padding: 1rem 0;
        gap: 1rem;
        grid-template-areas: "a" "b" "c";
        grid-template-columns: 100%;
    }
}

main > *
{
    padding: 2rem;
}

header :first-child,
article :first-child,
aside :first-child
{
    margin-top: 0;
}

header :last-child,
article :last-child
{
    margin-bottom: 0;
}

header
{
    grid-area: a;
    padding: 0;
}

@media (max-width: 72rem)
{
    header
    {
        padding: 0 2rem;
    }
}

header > hgroup > *
{
    margin: 0 0 0.25rem;
}

article
{
    grid-area: b;
    background-color: #fff;
    border-radius: .25rem;
    border: .0625rem solid rgba(0,0,0,0.667);
    text-align: justify;
    word-break: break-word;
}

@media (max-width: 36rem)
{
    article
    {
        text-align: left;
    }
}

article strong
{
    font-weight: 500;
}

div.side
{
    padding: 0;
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 2rem;
}

@media (max-width: 72rem)
{
    div.side
    {
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
        gap: 1rem;
        padding: 0 1rem;
    }
}

@media (max-width: 36rem)
{
    div.side
    {
        grid-auto-flow: row;
        padding: 0;
    }
}

aside
{
    padding: 1.5rem;
    background-color: rgba(255,255,255,0.667);
    border-radius: .25rem;
    border: .0625rem solid rgba(0,0,0,0.667);
}

aside > h3
{
    font-size: 1.5rem;
    margin-bottom: .333rem;
    font-weight: 500;
}

aside > nav
{
    display: flex;
    flex-direction: column;
}
aside > nav > a
{
    display: block;
    padding: .25rem 0;
    color: #333;
    text-decoration: none;
}